body {
    overflow: hidden;
    background: rgb(121,9,9);
    background: linear-gradient(90deg, rgba(121,9,9,1) 22%, rgba(0,212,255,1) 100%);
}
canvas {
    margin-left: 0px;
    margin-right: 0px;
    margin: auto;
    display: none;
    width: 90%;
    border: 1px solid white;
    background: rgb(29, 29, 29);
}
#bottom-area {
    width: 90%;
    margin: auto;
    display: none;
    justify-content: space-between;
}
#stats {
    display: none;
    width: 90%;
    margin: auto;
    justify-content: space-between;
    text-align: center;
    color: white;
}
#msgInput, #sendBtn {
    padding: 10px;
    margin-top: 10px;
}
#sendBtn {
    margin-left: -5px;
    border-radius: 0px 10px 10px 0px;
}
#sendBtn:focus {
    outline: none;
    border: none;
}
#msgInput {
    width: 500px;
    border-radius: 5px 0px 0px 5px
}
#leaveBtn {
    position: fixed;
    bottom: 0px;
    left: 0px;
    margin: 1px;
}
#closeControls {
    float: right;
    margin-bottom: 5px;
}
#controlsMenu {
    position: fixed;
    top: 0px;
    left: 50%;
    margin-left: -575px;
    display: none;
}
th, td {
    border: 1px solid lightgrey;
}
.reaction {
    font-size: 40px;
}
.reaction:hover {
    cursor: pointer;
}
.navbar {
    width: 90%;
    margin: 0px;
    padding: 0px;
    margin: auto;
    height: 50px;
    color: white;
    display: none;
    justify-content: space-between;    
}
