body {
    background: black;
}

canvas {
    padding: 10px;
    padding-top: 25px;
    position: fixed;
    display: none;
    top: 0px;
    left: 0%;
    width: 100%;
    height: 100%;
    border: 1px solid white;
    background: rgba(36, 33, 33, 0.514);
}


#menu {
    display: none;
    position: fixed;
    background: rgba(0, 0, 0, 0.651);
    top: 0px;
    left: 0px;
    z-index: 3;
    width: 100%;
    height: 100%;
    text-align: center;
    color: white;
    font-size: 50px;
}

#closeMenu {
    position: fixed;
    top: 0px;
    right: 0px;
    background: red;
    font-family: arial;
    width: 50px;
    height: 50px;
}

#closeMenu:hover {
    cursor: pointer;
    background: rgb(131, 1, 1);
}

.menu-subtext {
    font-size: 30px;
    text-align: left;
    color: lime;
}

#quitBtn {
    display: none;
}

#playBtn2:hover, #quitBtn:hover {
    cursor: pointer !important;
}

#playBtn2:hover {    
    background: rgba(255, 0, 0, 0.397) !important;
    text-decoration: none;
}


#playBtn, #playBtn2 {
    font-size: 35px; 
    background: rgba(255, 0, 0, 0.664); 
    color: whitesmoke !important; 
    border-radius: 10px 10px 10px 10px; 
    padding: 12px;
    text-decoration: none;
}

.ele-btn:hover {
    cursor: pointer;
}

#inGameNav {
    display: none;
}

#settings:hover {
    cursor: pointer;
}

#settings:hover, #settings1:hover, #settingsClose:hover {
    cursor: pointer;
}

#settingsMenu {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.726);
    z-index: 20;
}

#settingsContainer {
    width: 80%;
    height: 80%;
    margin: auto;
    background: rgba(0, 0, 0, 0.623);
}
 
.settings-list {
    font-size: 30px;
}

.nav-content-disabled {
    color: grey !important;
}
.nav-content-disabled:hover {
    cursor: default;
    text-decoration: none !important;
}